.dropdownContainer {
  position: absolute;
  border-radius: 12px;
  max-width: fit-content;
  background-color: rgb(61, 60, 60);
  padding: 10px;
}

.dropdownContainer.false {
  display: none;
}

.dropdownContainer.true {
  display: block;
}

.targetImg:hover {
  outline: 5px solid greenyellow;
  cursor: pointer;
}

.targetImg {
  height: 5vh;
  transition: ease-in-out;
  transition-duration: 0.5s;
}
