.navBarContainer {
  display: flex;
}

.optionOne,
.optionTwo,
.optionThree,
.leaderboardsBtn {
  border: 2px solid black;
  width: 50px;
  height: 50px;
  text-align: center;
  text-justify: center;
  margin-bottom: 20px;
}

.leaderboardsBtn {
  width: fit-content;
}
