.startModal.false {
  position: relative;
  top: 0;
  height: 75vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.startModal.true {
  display: none;
}

.startContainer {
  position: relative;
  width: 200px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.startGameButton {
  font-size: 3rem;
  width: 200%;
  border-radius: 12px;
  border: 0;
  background-color: white;
  box-shadow: 0;
  transition: ease-in-out;
  transition-duration: 1s;
}

.startGameButton:hover {
  background-color: greenyellow;
  box-shadow: 2px 10px;
  cursor: pointer;
}
