.targetBox {
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 2px solid red;
}

.confirmTarget {
  position: absolute;
  width: 15px;
  height: 15px;
  outline: 2px solid greenyellow;
}

.targetBox.false,
.confirmTarget.false {
  display: none;
}

.targetbox.true,
.confirmTarget.true {
  display: block;
}
