body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameArea {
  min-width: fit-content;
}

.gameBoardPic.false {
  display: none;
}

.gameBoardPic.true {
  display: block;
}

.gameBoardPic.true:hover {
  cursor: pointer;
}
